<% @title= "Welcome" %>

<h4>Latest Events</h4>

<% @events.each do |e| %>
	<div id="event_card" style="width:250px;height:200px;border:1px solid gray;display:inline-block;margin:5px;border-radius:5px;">
		<div id="event_card_header">
			
		</div>
		<h4 style="margin:auto; text-align:center; margin-top: 50px;"><%=e.name %></h4>
		<br>
		<div id="event_card_footer">
		</div>
	</div>
<% end %>
